{% extends "layout.html" %}

{% block title%}Login Or Register{% endblock %}

{% block body %}
	<span style="display: block; font-size: 180px; background: -webkit-linear-gradient(#1E0BC5, #0BC5AB); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-weight: bold; text-align: center; padding-top: 10%">404</span>
	<p style="display: block; font-size: 34px; text-align: center; line-height: 0px">We couldn't find that page. Sorry about that.</p>
	<p style="display: block; font-size: 34px; text-align: center; line-height: normal">Try something else or go back to <a style="text-decoration: none" href="{{url_for('index')}}">bookrates' Home page</a>.</p>
{% endblock %}