{% extends "layout.html" %}

{% block title%}Login Or Register{% endblock %}

{% block body %}
	<div style="width: 480px; height: 460px; position: relative; margin: 8% auto; background: #fff; border:5px solid #3BD0FD; padding: 5px">
		<div style="display: block; font-size: 42px; background: -webkit-linear-gradient(#1E0BC5, #0BC5AB); -webkit-background-clip: text; -webkit-text-fill-color: transparent; text-align: center; padding-top: 5px">-Home-</div>
			<p style="display: block; font-size: 21px; text-align: center; line-height: 6px">Welcome to our website.</p>
			<p style="display: block; font-size: 21px; text-align: center; line-height: 6px">Now you can search for your next books to read.</p>
			<form action="{{ url_for('search') }}" method="post" style="width: 240px; display: block; top: 180px; width: 320px; margin-left: auto; margin-right: auto; padding-top: 20px">
					<input type="text" class="input-field" placeholder="By ISBN Number" name="t_search_isbn">
					<input type="text" class="input-field" placeholder="By Title" name="t_search_title">
					<input type="text" class="input-field" placeholder="By Author" name="t_search_author">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							{% for message in messages %}
								<div style="color: red"> {{ message }} </div>
							{% endfor %}
						{% endif %}
					{% endwith %}
					<button style="display: block; margin-top: 32px" type="submit" class="submit-button">Search</button>
			</form>
	</div>
{% endblock %}